* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__container {
  width: 1600px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.navbar {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 46px !important;
  height: 46px !important;
}
.nav__img img {
  width: 42px;
  height: 42px;
}
.nav__img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  border-bottom: 2px solid #00000025;
  padding-bottom: 13.5px;
}
.list:last-child {
  border-bottom: 0;
}
.list img {
  width: 42px;
  height: 42px;
}
.box {
  margin-top: 25px;
  height: 25vh;
  overflow: scroll;
  box-shadow: -6px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -6px 4px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -6px 4px 5px 0px rgba(0, 0, 0, 0.35);
}
.box h3 {
  padding: 10px;
}
.group__header {
  display: flex;
  justify-content: space-between;
}
.modal__create__group {
  display: flex;
  margin: auto;
  margin-top: 20px;
}

.profile__container {
  margin-top: 40px !important;
  width: 854px;
  margin: auto;
}
.profile img {
  width: 170px;
  height: 170px;
}
.profile__box {
  display: flex;
  align-items: center;
}
